@model InternetShopCore.Models.Category
@{
    ViewData["Title"] = "Редактирование категории";
}

<h4>Редактирование категории</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GroupCategoryId" class="control-label"></label>
                <select asp-for="GroupCategoryId" asp-items="ViewBag.GroupCategoryList" class="form-control"></select>
                <span asp-validation-for="GroupCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="CategoryId" type="hidden" />
                <input type="submit" value="Обновить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Categories">Назад к списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}