@model IEnumerable<InternetShopCore.Models.GroupCategory>

@{
    ViewData["Title"] = "Группы категорий";
}

<h1>Группы категорий</h1>

<p>
    <a asp-action="AddGroupCategory">Добавить новую группу</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="EditGroupCategory" asp-route-id="@item.GroupCategoryId">Редактировать</a> |
                <a asp-action="DeleteGroupCategory" asp-route-id="@item.GroupCategoryId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
